[app]
access_password = "senhaaqui"

[smtp]
host = "smtp.gmail.com"
port = 587

[senders.remetente_1]
email = "seu_email@gmail.com"
app_password = "sua_senha_de_aplicativo"
display_name = "Seu Nome ou Empresa"

# Você pode adicionar múltiplos remetentes copiando o bloco acima e mudando o nome "remetente_1", por exemplo:
# [senders.remetente_2]
# email = "outro_email@gmail.com"
# app_password = "outra_senha_de_aplicativo"
# display_name = "Outro Departamento"
